﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="Classroom.aspx.vb" Inherits="iLA.Classroom" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
       <section class="content-header">
      <h1>Classroom
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="Home.aspx?actionType=h"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Classroom</li>
      </ol>
    </section>

    <!-- Main content -->   
      <section class="content">  
            
<div class="row">
   <section class="col-lg-12 connectedSortable">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">          
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
          
     <div class="col-lg-12">          
          <div class="text-center">
            

          </div>
      </div>     
          
</div>
            <div class="row">
  <div class="col-lg-12 text-center">
       
        </div>

        <div class="col-lg-12">
          <div class="form-group">
            <label></label>
           
          </div>

        </div>

      </div>    
    </div>
    <!-- /.box-body -->
  </div>
  </section>
</div>                          
      
      </section>
</asp:Content>