﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Certificate.aspx.vb" Inherits="Certificate" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>   
      <link href="../css/rajchasistyles.css" rel="stylesheet">
</head>
<body>
    <form id="form1" runat="server">

     <div align="center">  <strong><font size="4" >Total Task report </font>  </strong>
         <br />
     <asp:Label ID="lblCompanyName" runat="server"></asp:Label></div> 
     <strong>
         <br />
         Date</strong> 
         <asp:Label ID="lblStartDate"        runat="server"></asp:Label>          
         <strong>to</strong>
          <asp:Label ID="lblEndDate"        runat="server"></asp:Label>          
           <strong>Type :</strong>&nbsp; 
         
             <asp:Label ID="lblType" runat="server"></asp:Label>           
 <br />
         <br />


                           <strong>Report by : </strong>&nbsp;<asp:Label ID="Label1" runat="server"></asp:Label>       
        
&nbsp;<div>
          </div>
    </form>
</body>
</html>
